$clr-white:#fff;
$clr-light:#b2b2b2;
$clr-grey:#888;
$clr-semi:#353535;
$clr-black:#000;

$clr-default:#f8f8f8;
$clr-primary:#09BB07;
$clr-info:#10AEFF;
$clr-warning:#FFBE00;
$clr-danger:#e63440;
$clr-link:#576b95;

$ft-icon:'weui';


$sz-checkbox:24px;
$sz-radio:24px;